.content1 {
    background-color: #f9f3ef;
    color: white;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    z-index: 0;
}
.overlap-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
    background-color: #2f6288;
    padding: 32px 16px;
    overflow: hidden;
}

.textbox1 {
    max-width: 100%;
    width: 700px;
    height: auto;
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
    left: 20px;
    font-family: sans-serif;
}

.overlaypara {
    width: 100%;
    max-width: 700px;
    height: auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    overflow-wrap: break-word;
    word-break: break-word;
    font-weight: 500;
    line-height: normal;
    color: #c8cdd8;
}

.section {
    padding: 50px;
    background: #867832;
}

.rightbox {
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: #f9f3ef;
}

.divheading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    left: 0;
    width: auto;
    height: 100px;
    color: #c4b0ae;
    font-size: 60px;
    z-index: 0;
    white-space: nowrap;
}

.about-container {
    height: auto;
    max-width: 400px;
    width: 100%;
    color: black;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
}
.about-heading {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .content1 {
        grid-template-columns: 1fr;
        padding: 0px;
    }

    .overlap-container {
        position: static;
        flex-direction: column;
        height: auto;
        gap: 1px;
    }

    .overlap-container img {
        width: 80%;
        height: auto;
        padding: 16px;
    }

    .overlap-container p {
        font-size: 12px;
    }

    .textbox1,
    .overlaypara {
        width: 100%;
        text-align: center;
        margin: 4px;
    }

    .textbox1 {
        font-size: 24px;
    }

    .overlaypara {
        font-size: 16px;
    }

    .divheading {
        font-size: 30px;
        margin-top: 30px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        width: auto;
        z-index: 0;
        color: #c4b0ae;
        white-space: nowrap;
    }
}

.scroll-container {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .scroll-container span {
    display: inline-block;
    padding-right: 2rem; /* spacing between repetitions */
    animation: scroll 10s linear infinite;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }