.parrent {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0;
  background-color: transparent;
  overflow: hidden;
  /* max-height: 400px; */
  width: auto;          
  max-width: 100%;
  margin-bottom: 2.5rem;  
  box-shadow: -46px 46px 27.5px 0px rgba(0, 0, 0, 0.25);
}
.imgdiv img {
  height: 400px;
  max-width: 15rem;
  object-fit: contain;
  object-position: center;
}

.data_container {
  position: absolute;
  bottom: -10px;
  right: 0;
  background-color: #2f6288;
  color: rgb(255, 255, 255);
  min-height: 30%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
}

.data_details{
  height: 100%;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
}

.ptitle{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: clamp(12px, 3vw, 15px);
  width: 100%;
  text-align: left;
}

.pricediv {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  
}

.pricediv p {
  margin: 0;
  font-size: clamp(10px, 2.5vw, 14px);
}

@media screen and (max-width: 768px) {
  .data_container {
    height: auto;
    right: 0;
    width: 90%;
  }

}

@media screen and (max-width: 480px) {
  .data_container {
    width: 90%;
  }

  .parrent {
    margin-bottom: 0rem;
  }
  
  .pricediv {
    gap: 5px;
    bottom: 5%;
  }
}

