.site-footer {
  background-color: #2f6288;
  color: #fff;
  padding: 30px 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  gap: 20px;
  margin: 0 20px;
}


.footer-tagline {
  font-size: 18px;
  max-width: 500px;
  color: #C9C8D8;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-subscribe {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

/* Quick Links section */
.footer-links {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.footer-links h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-links a{
  color: #C9C8D8!important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal ;
}

.links-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.links-grid div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.links-grid a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.links-grid a:hover {
  text-decoration: underline;
}

/* Copyright text */
.footer-bottom {
  margin-top: 30px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    margin: 0;
  }

  .footer-tagline {
    font-size: 16px;
    max-width: 90%;
    text-align: left;
  }

  .footer-subscribe {
    flex-wrap: wrap;
    width: 100%;
  }

  .links-grid {
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
  }


  .links-grid div {
    align-items: flex-start;
  }

  .footer-links{
    margin : 20px 0;
  }

  .footer-links h3 {
    font-size: 18px;
  }

  .footer-bottom {
    font-size: 13px;
    margin-top: 20px;
  }
}

